<style>

</style>

<div class="container-fluid">

  <nav class="navbar navbar-expand-lg bg-light mb-2">
    <a class="navbar-brand" href="#">Calculator Test Component</a>
  </nav>

  <div class="row">
    <div class="col-8">
      <div class="row mb-2">
        <div class="col">
          <input type="text" class="form-control" placeholder="0" [value]="display">
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <button type="button" class="btn btn-secondary w-100" (click)="numberClick(7)">7</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-secondary w-100" (click)="numberClick(8)">8</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-secondary w-100" (click)="numberClick(9)">9</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary w-100" (click)="operatorClick(operatorEnum.Divide)">÷</button>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <button type="button" class="btn btn-secondary w-100" (click)="numberClick(4)">4</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-secondary w-100" (click)="numberClick(5)">5</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-secondary w-100" (click)="numberClick(6)">6</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary w-100" (click)="operatorClick(operatorEnum.Multiply)">×</button>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <button type="button" class="btn btn-secondary w-100" (click)="numberClick(1)">1</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-secondary w-100" (click)="numberClick(2)">2</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-secondary w-100" (click)="numberClick(3)">3</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary w-100" (click)="operatorClick(operatorEnum.Minus)">–</button>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <button type="button" class="btn btn-secondary w-100" (click)="numberClick(0)">0</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-danger w-100" (click)="clearClick()">C</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-success w-100" (click)="equalsClick()">=</button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary w-100" (click)="operatorClick(operatorEnum.Add)">+</button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let historyItem of history.reverse()" (click)="restoreValue(historyItem.answer)">{{historyItem.inputA}}{{operatorDisplayValue(historyItem.operator)}}{{historyItem.inputB}}={{historyItem.answer}}</li>
      </ul>
    </div>
  </div>
</div>